@model Apps.Models.Act

@{
    ViewData["Title"] = "Edycja";
}

<div class="bg-light p-4 shadow rounded" style="min-height: 100vh;">

    <h1>Edycja</h1>

    <h4>Akt @Model.Id</h4>
    <hr />

    <div class="row justify-content-end">
        <a asp-action="Index" class="btn btn-primary mr-3">Back to List</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Overview" class="control-label"></label>
                    <input asp-for="Overview" class="form-control" />
                    <span asp-validation-for="Overview" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Visible" class="control-label"></label>
                    <input asp-for="Visible" class="form-control" type="checkbox" />
                    <span asp-validation-for="Visible" class="text-danger"></span>
                </div>
                <div>
                    <select name="experts[]" multiple>
                        @foreach (Expert expert in ViewBag.Experts)
                        {
                            <option value="@expert.Id">@expert.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="row justify-content-end">
                        <button type="submit" value="Save" class="btn btn-primary mr-3">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
